.card {
  max-width: 400px;
  margin-bottom: 50px;
}

.header-image {
  background-image: url(https://raw.githubusercontent.com/tamo-semifir/gcp-assets/main/logo_semifir.png);
  background-size: cover;
}

.cover {
  width: 390px;
  height: 390px;
  border-radius: 10px;
  object-fit: contain;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  font-style: italic;
}
