<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <!-- Je précise déjà les routes que je pense créer -->
      <!-- NB : il s'agit bien d'utiliser les routes d'Angular -->
      <!-- L'attribut est donc : routerLink -->
    <a class="navbar-brand"  routerLink="/home">Mediatèque</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <!-- Idem ici -->
          <a class="nav-link"  routerLink="/products">Produits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>